{% extends 'base.html' %}

{% block content %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wishlist</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <img src="https://media.discordapp.net/attachments/871745162802511933/1024974315051024424/6207a59626ab99000460a364.png?width=529&height=529" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
          <a class="navbar-brand">✩ Here is {{nama}}'s wishlist! ✩</a>
          <button><a href="{% url 'wishlist:logout' %}">Logout</a></button>
        </div>
      </nav>

    <table class="table table-bordered "style="border-color: #e6dbdc;">
        <tr style="background-color: #ffe9f4;">
        <th>Nama Barang</th>
        <th>Harga Barang</th>
        <th>Deskripsi</th>
        </tr>
        {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
        {% for barang in list_barang %}
            <tr>
                <th>{{barang.nama_barang}}</th>
                <th>{{barang.harga_barang}}</th>
                <th>{{barang.deskripsi}}</th>
            </tr>
        {% endfor %}
    </table>
    
    <form method="POST" action="">
        {% csrf_token %}
        <table>
            <tr>
                <td>Nama Barang: </td>
                <td><input type="text" name="nama_barang" placeholder="Nama Barang" class="form-control" ></td>
            </tr>
                    
            <tr>
                <td>Harga Barang: </td>
                <td><input type="text" name="harga_barang" placeholder="Harga Barang" class="form-control" ></td>
            </tr>

            <tr>
                <td>Deskripsi:</td>
                <td><input type="text" name="deskripsi" placeholder="Deskripsi" class="form-control" /></td>
            </tr>

            <tr>
                <td></td>
                <td><input class="btn submit_btn" type="submit" value="Submit" ></td>
            </tr>
        </table>
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
        $.ajax({
            url: "/wishlist/json",
            success: function (results) {
                results.map((result) => {
                $("#wishlist-table").append(
                    "<tr><td>" +
                    result.fields.nama_barang +
                    "</td><td>" +
                    result.fields.harga_barang +
                    "</td><td>" +
                    result.fields.deskripsi +
                    "</td></tr>")
        });
      }});
    })
    </script>

    <h6>Sesi terakhir login: {{ last_login }}</h6>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  </body>
</html>

{% endblock content %}